.navbar{
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    text-decoration: none;
    overflow:hidden;
    background-color: white;
    
}

.logo{
    float:left;
}

.navcontainer a{
    float: left;
    color:black;
    text-align: center;
    padding:14px 20px;
    text-decoration: none;
    font-size:24px;
    display:inline;
    background-color:white;
    vertical-align: top;
    /* border-bottom: 1px solid black; */
}

.navcontainer a:hover{
    background-color:gainsboro;
}

.lefts{
    /* background-color: orange; */
    display:inline;
    float:right;
    font-size:15px;
    border:none;
}

.slides img{
    display: block;
    text-align: center;
    margin: auto;
    position: relative;
    width: auto;
    height:auto;
    opacity:65%;
    
}
.slides{
    text-align: center;
}

.slides .btn{
  background-color:grey;
  color: white;
  font-size: 20px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  position: absolute;
  text-align: center;
  top:60%;
  left:50%;
}
.slides .textslide{
    position:absolute;
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
    font-weight: bold;
    left:50px;
    right:50px;
    text-align:center;
    opacity:100%;
}

.prompt{
    border: 1px solid black;
    text-align: center;
    padding: 200px;
    margin: auto;
    position:relative;
    border-radius: 7.5px;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}

.prompt button{
    background-color:rgb(40, 117, 233);
    font-family:Arial, Helvetica, sans-serif;
    font-size: 15px;
    border: none;
    color:white;
    padding:10px 20px 10px 20px;
    cursor: pointer;
    text-align: center;
    display:inline;
}

/* items in cart */
.cart{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size:20px;
    border: 1px solid black;
    margin: 0px 100px 0px 100px;
}
/* summary for home page */
.summary p{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size:20px;
    font-weight: 700;
    border: 1px solid pink;
    border-radius: 7.5px;
}

/* slide show styling: */
/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    height: 675px;
    position: relative;
    margin: auto;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
 .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
